{% extends "base.html" %}
{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% block content %}
<h2>Archive</h2>

{% if GOOGLE_PARTNER_PUB %}
    {% include '_includes/search.html' %}
{% endif %}

{% for year, date_year in dates|groupby( 'date.year' )|reverse %}
<h3 class="archive-year">{{ year }}</h3>
<dl class="archive-list">{% for month, articles in date_year|groupby( 'date.month' )|reverse %}{% for article in articles %}
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      <span class="archive-date">{{ article.date.strftime('%d') }} {{ article.date.strftime('%B')[:3] }}</span>
    </dd>
{% endfor %}{% endfor %}
</dl>
{% endfor %}
{% endblock %}
