{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block metadesk %}<meta name="description" content="{{ article.summary|striptags }}">{% endblock %}
{% block author %}<meta name="author" content="{{ article.author }}">{% endblock %}
{% block content %}
<article class="post-full">
  <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  <div class="post-meta">
    <span class="post-date">{{ article.locale_date }}</span>
    {% if article.category %}<a class="category-pill" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{% endif %}
    {% if article.update %}<span class="post-updated">updated {{ article.update }}</span>{% endif %}
  </div>
  {% if article.tags %}
  <div class="tag-list">
    {% for tag in article.tags %}<a class="tag-pill" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}
  </div>
  {% endif %}

  <div class="post-content">
  {{ article.content }}
  </div>

  <p class="back-to-top"><a href="#">back to top</a></p>
  {% if DISQUS_SITENAME %}{% include '_includes/disqus.html' %}{% endif %}
</article>
{% endblock %}
